<h2>Real Time Products</h2>
<form id="form">
    <label for="title" id="title">Nombre del producto: <input id="title" name="title" type="text" required placeholder="Nombre del producto"/></label>
    <label for="description" id="description">Descripción: <input id="description" name="description" required type="text" placeholder="Ingresa la descripción"/></label>
    <label for="code" id="code">Código: <input id="code" type="text" name="code" placeholder="Código" required/></label>
    <label for="price" id="price">Precio: <input id="price" type="number" name="price" placeholder="Precio del producto" required/></label>
    <label for="stock" id="stock">Stock: <input id="stock" type="number" name="stock" placeholder="stock" required/></label>
    <label for="category" id="category">Categoría: <input id="category" type="text" name="category" placeholder="Categoría" required/></label>
    <input type="submit" value="SEND" />
</form>
    <p id="products"></p>



<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>